body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Use the name of the font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  margin-bottom: 30px;
}
